# Secrets
.env

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
venv/
build/
dist/

# Local DB
*.db
*.sqlite3

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# Editors/OS
.vscode/
.idea/
.DS_Store
